<nav class="mb-4 bg-white shadow-md">
  <div class="mx-auto flex max-w-screen-xl items-center justify-between p-4">
    <a routerLink="" class="flex items-center">
      <img src="/faviconCircular.ico" alt="Logo" class="mr-2 w-12" />
      <span class="text-xl font-semibold">laWiki</span>
    </a>
    <button class="text-gray-600 hover:text-gray-800 focus:outline-none lg:hidden" type="button"
      data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="mb-2 block h-0.5 w-6 bg-gray-600"></span>
      <span class="mb-2 block h-0.5 w-6 bg-gray-600"></span>
      <span class="block h-0.5 w-6 bg-gray-600"></span>
    </button>
    <div class="hidden flex-grow items-center lg:flex" id="navbarNav">
      <ul class="ml-auto flex items-center space-x-6">
        <li class="flex items-center">
          <div class="flex items-center">
            <app-traducciones></app-traducciones>
          </div>
        </li>
        @if (usuarioEnSesion()) {
        <li class="flex items-center">
          <div class="flex items-center">
            <app-notificaciones></app-notificaciones>
          </div>
        </li>
        @if (usuarioEsAdmin()) {
        <li class="flex items-center">
          <button class="text-gray-800 hover:text-blue-600" (click)="irAAdministrarUsuarios()">
            {{ "ADMINISTRAR_USUARIOS" | translate }}
          </button>
        </li>
        }
        <li class="flex items-center">
          <button class="text-gray-800 hover:text-blue-600" (click)="irAPerfil()">
            {{ "PERFIL" | translate }}
          </button>
        </li>
        <li class="flex items-center">
          <button (click)="logOut()" class="text-gray-800 hover:text-blue-600">
            {{ "CERRAR_SESION" | translate }}
          </button>
        </li>
        } @else {
        <li class="flex items-center">
          <button class="text-gray-800 hover:text-blue-600" (click)="irALogIn()">
            {{ "INICIAR_SESION" | translate }}
          </button>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
